<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oensa.johnmuchiri.kenyamax" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="com.oensa.johnmuchiri.kenyamax.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.oensa.johnmuchiri.kenyamax.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.oensa.johnmuchiri.kenyamax.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oensa.johnmuchiri.kenyamax.MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splashscreen"
            android:label="@string/title_activity_splashscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events" >
            <intent-filter>
                <action android:name="android.intent.action.EVENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".PerfomanceArts"
            android:label="@string/title_activity_perfomance_arts" >
            <intent-filter>
                <action android:name="android.intent.action.PERFOMANCEARTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Movies"
            android:label="@string/title_activity_movies" >
            <intent-filter>
                <action android:name="android.intent.action.MOVIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KenyaDetailActivity"
            android:label="@string/title_activity_moviedetail" >
        </activity>
        <activity
            android:name=".Moviedetail"
            android:label="@string/title_activity_moviedetail" >
        </activity>
        <activity
            android:name=".KenyaEventDetailActivity"
            android:label="@string/title_activity_kenya_detail" >
        </activity>

        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.sampleapp" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" />

        <service android:name="com.pushbots.push.GCMIntentService" />

        <activity
            android:name=".Imax"
            android:label="@string/title_activity_imax" >
        </activity>
        <activity
            android:name=".FoxCineplexSaritCentre"
            android:label="@string/title_activity_fox_cineplex_sarit_centre" >
        </activity>
        <activity
            android:name=".CenturyCinemaxJunction"
            android:label="@string/title_activity_century_cinemax_junction" >
        </activity>
        <activity
            android:name=".PlanetMediaPrestigePlaza"
            android:label="@string/title_activity_planet_media_prestige_plaza" >
        </activity>
        <activity
            android:name=".KenyaMovieTheatreDetails"
            android:label="@string/title_activity_kenya_movie_theatre_details" >
        </activity>
        <activity
            android:name=".AngaSkyCinema"
            android:label="@string/title_activity_anga_sky_cinema" >
        </activity>
        <activity
            android:name=".NyaliCinemaxMombasa"
            android:label="@string/title_activity_nyali_cinemax_mombasa" >
        </activity>
        <activity
            android:name=".PlanetMediaKisumu"
            android:label="@string/title_activity_planet_media_kisumu" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--  -->
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                <category android:name="com.oensa.johnmuchiri.kenyamax" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name=".SeriesDeatilActivity"
            android:label="@string/title_activity_series_deatil" >
        </activity>
    </application>

</manifest>
